{%  extends "base.html" %}
{% block main_content %}


 <div class="container">
   <br><br>
    <div class="col s12 offset-m2 m8 offset-l3 l6">


           <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                 <div class="collapsible-header"><i class="material-icons">filter_drama</i>First Section</div>
                 <div class="collapsible-body"><p>This is first section.</p></div>
              </li>
              <li>
                 <div class="collapsible-header"><i class="material-icons">place</i>Second Section</div>
                 <div class="collapsible-body"><p>This is second section.</p></div>
              </li>
              <li>
                 <div class="collapsible-header"><i class="material-icons">whatshot</i>Third Section</div>
                 <div class="collapsible-body"><p>This is third section.</p></div>
              </li>
           </ul>
           <br><br>
  </div>
</div>

{% endblock main_content %}
