{%  extends "base.html" %}
{% block main_content %}


 <div class="container">
   <br><br>
    <div class="col s12 offset-m2 m8 offset-l3 l6">

      <div class="slider">
          <ul class="slides">
            <li>
              <img src="http://bit.ly/2wAeiNU"> <!-- random image -->
              <div class="caption center-align">
                <h3 class="black-text ">Projeto Ecom_Merci</h3>
                <h5 class="black-text text-lighten-3">Desenho de Software 2.2017</h5>
              </div>
            </li>
            <li>
              <img src="http://bit.ly/2wAeiNU"> <!-- random image -->
              <div class="caption left-align">
                <h3 class="black-text ">Alunos</h3>
                <h5 class="black-text text-lighten-3">Bernardo,<br>Eliseu,<br> Gabriela,<br> Iago,<br> João,<br> Mateus e<br> Renata</h5>
              </div>
            </li>
            <li>
              <img src="http://bit.ly/2wAeiNU"> <!-- random image -->
              <div class="caption right-align">
                <h3 class="black-text ">Bem-Vindo !</h3>
                <h5 class="black-text text-lighten-3">Esperamos que sua experiência seja agradável</h5>
              </div>
            </li>
            <li>
              <img src="http://bit.ly/2wAeiNU"> <!-- random image -->
              <div class="caption center-align">
                <h3 class="black-text ">Em breve, novas funcionalidades!</h3>
                <h5 class="black-text text-lighten-3">Aguarde...</h5>
              </div>
            </li>
          </ul>
        </div>
           <br><br>
  </div>
</div>

{% endblock main_content %}
