{%  extends "base.html" %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Product Detail </title>
  </head>

  <body>
      <div>
        <h3>
          <a href="#">{{ product.product_name }}</a>
        </h3>
          <a href="#">
            <img class="img-responsive" src='{{ product.illustration.url }}' alt="">
          </a>

          <p>Quantidade</p>
          <form action={% url 'addProductToCart' product.id %} method="POST">
            {% csrf_token %}
            <input type="number" name="quantity" min="1" max="100" required><br>
            <input type="submit" value="addToCart">
          </form>

          <p> Preco do produto: </p>
          <p>{{ product.price }}</p>
          <br></br>
          <hr></hr>
          <p> Quantidade em estoque: </p>
          <p>{{ product.stock_quantity }}</p>
          <br></br>
          <hr></hr>
          <p> Peso da unidade do produto: </p>
          <p>{{ product.weight }}</p>
          <br></br>
          <hr></hr>

      </div>
  </body>
</html>
{% endblock main_content %}
