
<!DOCTYPE html>
<html style="height:100%">
{% load i18n %}
<body style="height:100%; position:relative">
  <head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
     {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'stylesheets/materialize.css' %}"  media="screen,projection"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Ecom_Merci</title>
    {% include "header.html"%}

  </head>

  <main class="StickyContent">
    {% block main_content %} {% endblock main_content %}
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bin/materialize.min.js' %}"></script>

     <script>
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
      </script>

      <script>
      $(document).ready(function(){
            $('.slider').slider();
            $(".button-collapse").sideNav();
          });
      </script>



<script>
      // Pause slider
$('.slider').slider('pause');
// Start slider
$('.slider').slider('start');
// Next slide
$('.slider').slider('next');
// Previous slide
$('.slider').slider('prev');
</script>

<script>
$(document).ready(function(){
     $('.carousel').carousel();
   });
  </script>

  </main>

  <footer class="StickyFooter">
    {% include "footer.html" %}
  </footer>
</body>
</html>
