{% block header %}
<nav>
  <div class="nav-wrapper black accent-4" style="min-height=100%">
    <a href="/">
    <img src="../../../static/images/logo.png" height="64" class="responsive-image" width="64">
    </a>
    <a href="/">
    <img src="../../../static/images/texto.png" height="64" class="brand-logo responsive-image left-align">
    </a>
    <ul class="right hide-on-med-and-down">
      <li><i class="large material-icons">account_circle</i></li>
      <li><a href="/users/login/">Login</a></li>
      <li><a href="/users/sign_up/">Criar conta</a></li>
  </div>
</nav>
 {% endblock%}
