Django==1.11.4
django-extensions==1.8.1
pickleshare==0.7.4
ptyprocess==0.5.2
python-decouple==3.1
pytz==2017.2
six==1.10.0
Unipath==1.1
dj-database-url
psycopg2
django-suit==0.2.25
Pillow
django-staticfiles
